<div class="col-md-8 col-md-offset-2">

	<h3><i class="fas fa-store-alt fa-fw" style="color: gray;"></i> <%= @restaurant.name %>の情報</h3>
	<div class="row restaurant-info">
		<div class="col-md-7">
      <div id="map"></div>
		</div>
		<div class="col-md-4 restaurant-">
			<div class="restaurant-address"><i class="fas fa-map-marked-alt fa-fw" style="color: gray;"></i><%= @restaurant.address %></div><br/>
			<div class="restaurant-name"><i class="fas fa-phone-alt fa-fw" style="color: gray;"></i><%= @restaurant.phone %></div>
		</div>
	</div>

	<%# todo:mySQLでviewテーブルを作成しランキング表示にする %>
		<h3><i class="fas fa-book-open fa-fw" style="color: gray;"></i> メニュー一覧 <small>（<%= @menus.count %>）</small></h3>
			<% @menus.each do |menu| %>
				<div class="row menu-rank">
					<div class="col-md-3">
						<% if menu.reviews.present? %>
							<%= link_to public_menu_path(menu.id) do %>
								<%= attachment_image_tag menu.reviews.first.review_images.first, :image, size:"145x145" %>
							<% end %>
						<% else %>
							<%= image_tag 'no_image1.jpg',size:"145x145"%>
						<% end %>
					</div>
					<div class="col-md-8">
						<p><%= link_to menu.name, public_menu_path(menu.id) %> </p>
						<div id="star-rate-<%= menu.id %>"><%= menu.reviews.average(:rate).to_f.round(1) %>点｜</div>
						<div><i class="fas fa-pen" style="color: gray;"></i>レビュー（<%= menu.reviews.count%>）件</div>
						<div class="menu-price"><i class="fas fa-money-bill-wave-alt fa-fw" style="color: gray;"></i>値段 <%= menu.price %>円</div><br/>
						<%# each文のためこの位置に記載 %>
						<script>
						$('#star-rate-<%= menu.id %>').raty({
							starOff   : '<%= asset_path('star-off.png') %>',
							starOn    : '<%= asset_path('star-on.png') %>',
							starHalf  : '<%= asset_path('star-half.png') %>',
							half      : true,
							readOnly  : true,
							score     : <%= menu.reviews.average(:rate).to_f.round(1) %>
						});
						</script>

					</div>
				</div>
				<br/>
			<% end %>
</div>

	<%# todo:絶対値表示ではなく、レストランの場所ごとに表示 %>
<script>
	var MyLatLng = new google.maps.LatLng(35.645249, 139.6713379);
	var Options = {
		zoom     : 16,
		center   : MyLatLng,
		mapTypeId: 'roadmap'
	};
	var map = new google.maps.Map(document.getElementById('map'), Options);
</script>

