<div class="col-md-8 col-md-offset-2">

	<h3>レストラン詳細ページ</h3>

	<%= @restaurant.name %>
	<%= @restaurant.address %>
	<%= @restaurant.phone %>

	<h3> メニュー一覧 <small>(<%= @menus.count %>)</small></h3>

		<% @menus.each do |menu| %>
		<table>
			<li><%= link_to menu.name, public_menu_path(menu.id) %></li>
		</table>
		<% end %>

</div>