  <h4>新規投稿</h4>

  <%= form_for(review, url: public_reviews_path, html: { class: "form-horizontal" } )do |f| %>
    <div class="form-group">
      <%= f.label :review_images_images, "画像", class:"col-sm-2" %>
      <%= f.attachment_field :review_images_images, multiple: true, class:"col-sm-6" %>
    </div>

    <div class="form-group">
      <%= f.label :comment, "コメント", class:"col-sm-2" %>
      <%= f.text_area :comment, class:"col-sm-6" %>
    </div>

      <%= f.hidden_field :restaurant_id, :value => menu.restaurant.id %>
      <%= f.hidden_field :menu_id, :value => menu.id %>

    <div class="form-group">
      <div id="star">
        <%= f.label :rate,'評価', class:"col-sm-2" %>
          <%= f.hidden_field :rate, id: :review_star, class:"col-sm-6" %>
          <span id="score_number"></span> 点 |
      </div>
    </div>

    <div class="form-group">
      <%= f.submit 'このメニューのレビューを投稿する', class:"btn btn-primary col-sm-offset-3 col-sm-5 "%>
    </div>
  <% end %>

<script>
  $('#star').raty({
    starOff   :'<%= asset_path('star-off.png') %>',
    starOn    :'<%= asset_path('star-on.png') %>',
    starHalf  :'<%= asset_path('star-half.png') %>',
    scoreName :'review[rate]',
    round     : { down: .4, full: .6, up: .99 },
    targetKeep:true,
    precision :true,
    half      :true,
    target    :'#score_number',
    targetType:'score'
  });
</script>
