	<div class="flash-message">
		<%= flash[:notice] %>
	</div>

	<div class="main-visual">
		<h2>見つけよう！おいしい一品を！</h2>
	</div>

<div class="col-md-8 col-md-offset-2">
	<%# todo:無限リロード javascript導入%>
	<div class="row review-index">
		<h4><strong>新着投稿一覧</strong></h4>
		<div class="review-intro">
			<p>おいしい一品を探せるグルメレビューサービス「絶品グルメ」</p>
			<p>ニュー単位の投稿が特徴です！レストランの美味しい一品がここにあります！</p>
			<p>まだ食べたことのないメニューを、ぜひ見つけてみてください！！</p>
		</div>
		<% @reviews.each do |review| %>
			<div class="review-index col-md-3">
				<%= link_to public_menu_path(review.menu.id) do %>
					<%= attachment_image_tag review.review_images.first, :image ,size:"165x165" %><br/>
				<% end %>
				<%= link_to public_users_my_page_path(review.user.id) do %>
					<%= attachment_image_tag review.user, :profile_image, :fill, 100, 100, fallback: "no_image1.jpg", class:"img-circle profile", size:"38x38" %>
				<% end %>
				<%= link_to review.menu.name.truncate(8), public_menu_path(review.menu.id) ,class:"menu-name" %>

        <div id="star-rate-<%= review.id %>"><%= review.rate %>点｜</div>

          <script>
          $('#star-rate-<%= review.id %>').raty({
            starOff   : '<%= asset_path('star-off.png') %>',
            starOn    : '<%= asset_path('star-on.png') %>',
            starHalf  : '<%= asset_path('star-half.png') %>',
            half      : true,
						readOnly  : true,
            score     : <%= review.rate %>,
          });
          </script>

				<%= review.comment.truncate(30) %>
			</div>
		<% end %>
	</div>
    <%= paginate @reviews %>

</div>
<style>

</style>