<div class="col-xs-8 col-xs-offset-4">

    <h3>新規投稿</h3>

    <%= form_for(@review, url: public_reviews_path, method: :post ) do |f| %>
    <table>
      <li><%= f.attachment_field :review_images_images, multiple: true %></li><br/>

      <li><%= f.label :comment, "コメント" %></li>
      <li><%= f.text_area :comment %></li>

      <li><%= f.label :restaurant_id, "店舗" %></li>
      <li><%= f.collection_select :restaurant_id, Restaurant.all, :id, :name, include_blank:" -- 選択してください -- " %></li>

      <li><%= f.label :menu_id, "メニュー" %></li>
      <li><%= f.collection_select :menu_id, Menu.all, :id, :name, include_blank:"-- 選択してください --" %></li>

    　<!-- 星マークでの評価 -->
      <div id="star">
        <li><%= f.label :rate,'評価 ' %></li>
        <li><%= f.hidden_field :rate, id: :review_star %></li>
      </div>

      <!-- 評価　javascript -->
      <script>
        $('#star').raty({
          size     :42,
          starOff  :'<%= asset_path('star-off.png') %>',
          starOn   :'<%= asset_path('star-on.png') %>',
          starHalf :'<%= asset_path('star-half.png') %>',
          scoreName:'post[rate]',
          half: true,
        });
      </script>

        <li><%= f.submit '投稿する', class:"btn btn-default"%></li>

    </table>
  <% end %>

</div>