  <%# todo:部分テンプレート menu show %>
  <div class="flash-message">
		<%= flash[:notice] %>
  </div>

<div class="col-md-8 col-md-offset-2 review-show-id">
  <div class="row">
    <div class="col-md-3">
			<%= link_to public_menu_path(@review.menu.id) do %>
        <%= attachment_image_tag @review.review_images.first, :image ,size:"145x145" %>
      <% end %>
    </div>

    <div class="col-md-9">
      <div class="row">
        <%= attachment_image_tag @review.user, :profile_image, :fill, 100, 100, fallback: "no_image1.jpg", class:"img-circle profile col-md-2", size:"66x66" %>
        <div class="review-show-info col-md-8">
          投稿日：<%= l @review.created_at, format: :short %><br/>
          <%= link_to @review.restaurant.name.truncate(13), public_restaurant_path(@review.restaurant.id) %> /
          <%= link_to @review.menu.name.truncate(15), public_menu_path(@review.menu.id) %>
        </div>
        <div class="col-md-10">
          <%= @review.user.name %> |
          <span id="star-rate-<%= @review.id %>"><%= @review.rate %>点｜</span>
        </div>
        <%# 個別星評価のためこの位置に記載 %>
          <script>
          $('#star-rate-<%= @review.id %>').raty({
            starOff   : '<%= asset_path('star-off.png') %>',
            starOn    : '<%= asset_path('star-on.png') %>',
            starHalf  : '<%= asset_path('star-half.png') %>',
            half      : true,
            readOnly  : true,
            score     : <%= @review.rate %>,
          });
          </script>
      </div>
      <div class="review-comment col-md-11"><%= @review.comment %></div><br/>
    </div>
  </div>
    <div class="col-md-6 col-md-offset-4">
      <% if @review.user.id == current_user.id %>
        <%= link_to "レビューを編集する", edit_public_review_path(@review), class:"btn btn-success" %>
        <%= link_to "レビューを削除する", "#{@review.id}", method: :delete, "data-confirm" => "本当に消しますか?", class:"btn btn-danger pull-right" %>
      <% end %>
    </div>

</div>