<div class="col-md-6 col-md-offset-3">
    <% if @user.errors.any? %>
      <div id="error_explanation" class="alert alert-danger">
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <h3>ユーザ情報更新</h3>

    <div class="user-edit-form">
      <%= form_for(@user, url:public_user_path, html: { class: "form-horizontal" }) do |f| %>
        <div class="form-group">
          <%= f.label :画像 %><br />
          <%= f.attachment_field :profile_image, placeholder: "プロフィール画像", class: "user-edit-form" %>
        </div>
        <div class="form-group">
          <%= f.label :名前 %><br />
          <%= f.text_field :name, class:"form-control col-md-5" %>
        </div>
        <div class="form-group">
          <%= f.label :自己紹介 %><br />
          <%= f.text_area :introduction, class:"form-control", placeholder:"私の好きな食べ物はマルゲリータピザです"%>
        </div>
        <div class="form-group">
          <%= f.submit "変更を保存する", class:"btn btn-primary" %>
          <%= link_to "戻る", :back, class:"pull-right" %>
        </div>
      <% end %>
    </div>

</div>

