<div class="col-md-8 col-md-offset-2">
		<%= flash[:notice] %>

  <div class="row mypage">
    <div class="col-md-2">
      <%= attachment_image_tag @user, :profile_image, :fill, 300, 300, fallback: "no_image1.jpg", class:"img-circle profile", size:"100x100"%>
    </div>

    <div class="col-md-offset-1 col-md-4">
      <%= @user.name %>
    </div>

    <div class="col-md-4">
        <% if @user.email == "guest@example.com" %>
          <p>ゲストユーザは編集できません。</p>
        <% elsif @user.id == current_user.id %>
          <%= link_to "編集する", edit_public_user_path(@user), class:"btn btn-primary" %><br/>
        <% end %>
    </div>

    <div class="col-md-8 col-md-offset-4 user_introduction">
      <%= @user.introduction %><br/>
    </div>

  </div>
</div>

  <div class="row">
    <div class="col-md-6">
      <h3><i class="fas fa-pen fa-fw"></i>レビュー一覧</h3>

  <%# todo:部分テンプレート %>
  <% if @reviews.present? %>

    <% @reviews.each do |review| %>
    <div class="row review-show">

      <div class="col-md-4">
				<%= link_to public_review_path(review.id) do %>
          <%= attachment_image_tag review.review_images.first, :image ,size:"145x145" %>
        <% end %>
      </div>

      <div class="col-md-8">
        <%= attachment_image_tag review.user, :profile_image, :fill, 100, 100, fallback: "no_image1.jpg", class:"img-circle profile-thumb", size:"50x50" %>
        <%= review.user.name.truncate(9) %> |

        <%# each文の中のためこの位置に記載 %>
        <span id="star-rate-menu<%= review.id %>"><%= review.rate %>点｜</span>
          <script>
          $('#star-rate-menu<%= review.id %>').raty({
            starOff   : '<%= asset_path('star-off.png') %>',
            starOn    : '<%= asset_path('star-on.png') %>',
            starHalf  : '<%= asset_path('star-half.png') %>',
            half      : true,
            readOnly  : true,
            score     : <%= review.rate %>,
          });
          </script>

        <div class="review-comment"><%= review.comment %></div>
      </div>
    </div><br/>
		<% end %>
    <%= paginate @reviews %>
  <% else %>
    <h4>レビューはまだ登録されていません！<br/>
      あなたの投稿をみんなが待っています！
    </h4>
  <% end %>
    </div>


    <div class="col-md-6">
      <h3><i class="fas fa-bookmark fa-fw" style="color: brown;"></i> ブックマーク一覧</h3>
      <% if @bookmarks.present? %>
        <% @bookmarks.each do |bookmark| %>
          <div class="row bookmark-show">

            <div class="col-md-4">
              <%= link_to public_menu_path(bookmark.menu.id) do %>
                <%= attachment_image_tag bookmark.menu.reviews.first.review_images.first, :image ,size:"145x145" %>
              <% end %>
            </div>

            <div class="col-md-8">
              <div id="star-rate-<%= bookmark.menu.id %>"><%= bookmark.menu.reviews.average(:rate).to_f.round(1) %>点｜</div><br/>
              <div class="restaurant-name"><i class="fas fa-store-alt fa-fw" style="color: gray;"></i><%= bookmark.menu.restaurant.name %></div><br/>
              <div class="memnu-name"><i class="fas fa-book-open fa-fw" style="color: gray;"></i><%= bookmark.menu.name %></div><br/>

            </div>
            <%# each文のため、文中に記載 %>
            <script>
              $('#star-rate-<%= bookmark.menu.id %>').raty({
                starOff   : '<%= asset_path('star-off.png') %>',
                starOn    : '<%= asset_path('star-on.png') %>',
                starHalf  : '<%= asset_path('star-half.png') %>',
                half      : true,
                readOnly  : true,
                score     : <%= bookmark.menu.reviews.average(:rate).to_f.round(1) %>
              });
              </script>
          </div><br/>
        <% end  %>
      <%= paginate @bookmarks %>
      <% else %>
        <h4>ブックマークはまだ登録されていません！<br/>
            「検索」からお気に入りのメニューを探してみてください！
        </h4>
      <% end %>
    </div>

</div>

