<div class="col-md-8 col-md-offset-4">
		<%= flash[:notice] %>

  <h2>マイページ</h2>
  <div class="row">
    <div class="col-xs-4">
      <%= attachment_image_tag current_user, :profile_image, :fill, 300, 300, fallback: "no_image1.jpg", class:"img-circle profile-thumb", size:"100x100"%>
    </div>

    <div class="col-xs-4">
      <strong><%= current_user.name %></strong>
    </div>

    <div class="col-xs-4 offset-4">
        <% if @user.id == current_user.id %>
          <%= link_to "編集する", edit_public_user_path(@user), class:"btn btn-primary" %><br/>
        <% end %>
    </div>

    <div class="user_introduction">
      <%= current_user.introduction %><br/>
    </div>

  </div>
</div>

  <div class="row">
    <div class="col-md-6">
      <h3>投稿一覧</h3>

	<% @reviews.each do |review| %>
    <div class="row">

      <div class="col-md-4">
        <%= attachment_image_tag review.review_images.first, :image ,size:"145x145" %>
      </div>

      <div class="col-md-8">
        <%= attachment_image_tag review.user, :profile_image, :fill, 100, 100, fallback: "no_image1.jpg", class:"img-circle profile-thumb", size:"50x50" %>
        <strong><%= review.user.name %></strong> |

        <%# 個別星評価 JabaScript %>
        <span id="star-rate-<%= review.id %>"><%= review.rate %>点｜</span>
          <script>
          $('#star-rate-<%= review.id %>').raty({
            starOff   : '<%= asset_path('star-off.png') %>',
            starOn    : '<%= asset_path('star-on.png') %>',
            starHalf  : '<%= asset_path('star-half.png') %>',
            half      : true,
            readOnly  : true,
            score     : <%= review.rate %>,
          });
          </script>

        <div class="review-comment"><%= review.comment %></div>
      </div>
    </div><br/>
		<% end %>
    <%= paginate @reviews %>
    </div>

    <div class="col-md-6">
      <h3>ブックマーク一覧</h3>
    </div>

</div>