<!DOCTYPE html>
<html>
  <head>
    <title>絶品グルメ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="wrapper">
      <header>
        <nav>
          <ul>
            <li class=""><%= link_to '新規登録', new_user_registration_path %></li>
            <li class=""><%= link_to 'ログイン', new_user_session_path %></li>
            <li class=""><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
          </ul>
        <nav>
      </header>

      <%= yield %>

      <footer>
      </footer>
    </div>
  </body>


</html>
